.env
.venv
.hive-metastore
.spark-warehouse
.minio-data
.jars
spark-warehouse
data
logs
.DS_Store
.ipynb_checkpoints
__pycache__
/airflow/dags/silver/logs
/airflow/dags/silver/target
/airflow/dags/silver/.user.yml
/airflow/dags/silver/dbt_packages